<!DOCTYPE html>
<html>
<head>
    <title>Resource Allocation Tool</title>
    <link rel="stylesheet" type="text/css" href="static/styles.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1 class='heading-box'>Resource Allocation Tool</h1>
    <p class="punchy">Ask Your Question </p>
    <div id="chat-container">
        <div id="user-chat-box">
            <div id="user-chat"></div>
        </div>

        <div id="bot-chat-box">
            <div id="bot-chat"></div>
        </div>

         
    </div>

    <form id="user-input-form">
        <input type="text" id="user-input" placeholder="Enter your message" autocomplete="off">
        <button type="submit">Send</button>
    </form>

    <script>
        // Update the chat container with the latest conversation
        function updateChatContainer(response) {
            var userchatContainer = document.getElementById('user-chat');
            userchatContainer.innerHTML += '<p><strong>You:</strong> ' + response.userInput + '</p>';
            var botchatContainer = document.getElementById('bot-chat');
            botchatContainer.innerHTML += '<p><strong>Assistant:</strong> ' + response.botResponse + '</p>';
        }

        // Submit user input and get response from the server
        function submitUserInput(event) {
            event.preventDefault();
            var userInput = document.getElementById('user-input').value;
            document.getElementById('user-input').value = '';

            $.ajax({
                type: 'POST',
                url: '/get_response',
                data: { user_input: userInput },
                success: function(response) {
                    updateChatContainer({ userInput: userInput, botResponse: response.response });
                },
                error: function() {
                    console.log('Error occurred while getting response.');
                }
            });
        }

        // Bind the submitUserInput function to the form submission event
        document.getElementById('user-input-form').addEventListener('submit', submitUserInput);
    </script>
</body>
</html>
